.div-detailed-info {
  background: ghostwhite;
  opacity: 0.8;

  border-radius: 6px;
  right: 16px;
  margin: 16px;
  padding: 16px;
  position: absolute;
  top: 16px;
  z-index: 2000;
}

.show {
  overflow: scroll;
  height: 100%;
}

.hide {

}

.div-summary-outer {
  max-width: 500px;
  height: 2000px;
}

.div-show-details {
  font-size: 12px;
}

.div-data-source {
  font-size: smaller;
  font-style: italic;
}
