.div-detailed-info {
  background: ghostwhite;
  border-radius: 6px;
  right: 16px;
  margin: 16px;
  opacity: 0.8;
  padding: 16px;
  position: absolute;
  top: 16px;
  z-index: 2000;
}

.a-show-details {
  font-size: 12px;
}
