.div-detailed-info {
  background: ghostwhite;
  border-radius: 6px;
  margin: 16px;
  max-width: 500px;
  opacity: 0.8;
  padding: 16px;
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 2000;

}

.show {
  overflow: scroll;
  height: 100%;
}

.hide {

}

.div-summary-outer {
  border-radius: 12px;
}

.div-show-details {
  font-size: 12px;
}
