.div-zoomer-view {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  left: calc(100% - 128px);
  margin: 16px;
  padding: 16px;
  position: absolute;
  top: calc(100vh - 128px);
  z-index: 1000;
}

button {
  text-align: center;
  width: 48px;
}
