  :root {
  --font-family-serif: 'Linux Libertine','Georgia','Times',serif;
  --font-family: sans-serif;
  /* --font-family: Futura; */
}

body {
  font-family: var(--font-family);
  overflow: hidden;
  display: flex;
  flex-direction:column;
}

h1, h2, h3 {
  /* font-family: var(--font-family-serif); */
  font-weight: normal;
  color: black;
}

h1 {
  color: #ccc;
}

h2 {
  color: #888;
}

h3 {
  color: #444;
}

.monospace {
  font-family: monospace;
}

a {
  color: darkblue;
  text-decoration: none;
}

a:hover {
  color: lightblue;
}
